<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='explore.css')}}">
  
    <title>Upload TIFF File</title>
</head>
<body>

<div class="test">
    <header>
        <h2 class="logo">Upload image</h2>
    </header>

<!-- Add your form for uploading TIFF file -->
<div class="test" >
    <form action="/process" method="post" enctype="multipart/form-data">
        <input type="file" name="ftif" accept=".tif, .tiff" required>
        <button type="submit">Process</button>
    </form>
</div>

</body>
</html>
